openapi: 3.1.0
info:
  title: ragbot connectors api
  description: Machine-facing HTTP surface over the credential broker. Behind a Cloudflare Access
    perimeter (service token or Access JWT); every request, including health and openapi, is
    Access-gated. Read management operations are proxied to the connectors broker over its service
    binding — the broker itself stays binding-only.
  version: 1.0.0
servers:
  - url: https://connectors.jsmunro.me
paths:
  /openapi.json:
    get:
      operationId: connectorsApiOpenApiJson
      summary: Connectors API generated OpenAPI document
      security:
        - cfAccess: []
      responses:
        "200":
          description: Generated OpenAPI document.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /health:
    get:
      operationId: connectorsApiHealth
      summary: Connectors API service health
      security:
        - cfAccess: []
      responses:
        "200":
          description: Health snapshot.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /:
    get:
      operationId: connectorsApiIndex
      summary: Connectors API text landing response
      security:
        - cfAccess: []
      responses:
        "200":
          description: Text response.
  /api/connectors:
    get:
      operationId: listConnectors
      summary: List connectors
      description: Read-only management listing of the broker's connectors and their status. Proxied to
        the connectors broker's admin_list operation over its service binding; no secret material is
        ever returned.
      security:
        - cfAccess: []
      responses:
        "200":
          description: Connector list.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Missing or invalid Access token.
        "403":
          description: Caller not authorized for the management operation.
        "502":
          description: Broker upstream error.
components:
  securitySchemes:
    cfAccess:
      type: http
      scheme: bearer
      description: Cloudflare Access perimeter token (service token or Access JWT).
