openapi: 3.1.0
info:
  title: ragbot gateway
  description: >
    Public surface of the ragbot gateway worker (the edge trust zone). This
    document is the source of truth for the untrusted-zone HTTP API;
    service-to-service contracts are Cap'n Proto
    (packages/contracts/envelope.capnp) and are not exposed here. Any path not
    listed returns 404.
  version: 1.0.0
servers:
  - url: https://ragbot.jsmunro.me
paths:
  /discord:
    post:
      operationId: discordInteraction
      summary: Discord interactions endpoint
      description: >
        Receives Discord interaction callbacks. Every request must carry a
        valid Ed25519 signature over timestamp+body, signed with the Discord
        application's key; unsigned or stale requests are denied at the
        ingress guard.
      security:
        - discordSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscordInteraction"
      responses:
        "200":
          description: Interaction response payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InteractionResponse"
        "401":
          description: Missing, malformed, stale, or invalid request signature.
        "405":
          description: Method other than POST.
  /gateway/start:
    post:
      operationId: startGateway
      summary: Start the Discord gateway connection
      security:
        - controlToken: []
      responses:
        "200":
          description: Gateway start result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayControlResult"
        "401":
          description: Missing or invalid control bearer token.
        "403":
          description: Authenticated operator denied by policy.
        "405":
          description: Method other than POST.
  /gateway/stop:
    post:
      operationId: stopGateway
      summary: Stop the Discord gateway connection
      security:
        - controlToken: []
      responses:
        "200":
          description: Gateway stop result.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayControlResult"
        "401":
          description: Missing or invalid control bearer token.
        "403":
          description: Authenticated operator denied by policy.
        "405":
          description: Method other than POST.
  /gateway/health:
    get:
      operationId: gatewayHealth
      summary: Discord gateway connection health
      security:
        - controlToken: []
      responses:
        "200":
          description: Gateway health snapshot.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GatewayControlResult"
        "401":
          description: Missing or invalid control bearer token.
        "403":
          description: Authenticated operator denied by policy.
        "405":
          description: Method other than GET.
components:
  securitySchemes:
    discordSignature:
      type: apiKey
      in: header
      name: X-Signature-Ed25519
      description: >
        Discord interaction signing: X-Signature-Ed25519 (128 hex chars) plus
        X-Signature-Timestamp (unix seconds, max 5 minutes skew), verified
        against the application's public key.
    controlToken:
      type: http
      scheme: bearer
      description: >
        Operator control-plane bearer token (GATEWAY_CONTROL_TOKEN secret).
        Authenticates the Machine::"operator" principal; Cedar authorizes the
        specific gateway.* action.
  schemas:
    DiscordInteraction:
      type: object
      description: Discord interaction payload (subset validated by the worker).
      required:
        - type
      properties:
        type:
          type: integer
          description: Discord interaction type (1 = PING, 2 = APPLICATION_COMMAND).
        application_id:
          type: string
        guild_id:
          type: string
        channel_id:
          type: string
        token:
          type: string
        data:
          type: object
          additionalProperties: true
    InteractionResponse:
      type: object
      description: Discord interaction response (type + optional data).
      required:
        - type
      properties:
        type:
          type: integer
        data:
          type: object
          additionalProperties: true
    GatewayControlResult:
      type: object
      description: Durable Object gateway control/health payload.
      additionalProperties: true
