openapi: 3.1.0
info:
  title: ragbot webhooks
  description: >
    Public surface of the centralised webhook-ingress worker (the edge trust
    zone). Third-party providers POST signed webhook deliveries to
    /{provider}/{id}; signature verification happens in the credential broker
    (connector.webhook.verify) — this worker never holds a webhook secret. A
    verified, first-seen event is enqueued to the workflows worker as a webhook.event
    ServiceMessage (Cap'n Proto, packages/contracts/envelope.capnp) and
    acknowledged 202 immediately; nothing slow runs inline. This document is
    the source of truth for the untrusted-zone HTTP API — unlike the gateway's
    spec it is documentation-first (the templated path cannot ride the
    gateway's exact-pathname route-table generator); the worker's hand-rolled
    matcher mirrors it. Any path not listed returns 404.
  version: 1.0.0
servers:
  - url: https://webhooks.jsmunro.me
paths:
  /{provider}/{id}:
    post:
      operationId: receiveWebhook
      summary: Receive a provider webhook delivery
      description: >
        Receives a signed webhook delivery for the connector named by {id},
        using the signature scheme selected by {provider}. The raw body plus
        the scheme's signature headers (X-Hub-Signature-256 / X-GitHub-Delivery
        / X-GitHub-Event for github; Stripe-Signature for stripe) are handed to
        the credential broker, which resolves the connector's webhook secret
        and verifies the HMAC over the exact body bytes. Stripe's signed
        timestamp tolerance is enforced broker-side; GitHub replay is
        controlled by the receiver's event-id dedupe. Verified events are
        deduplicated on the provider event id within a 24h window.
      security:
        - providerSignature: []
      parameters:
        - name: provider
          in: path
          required: true
          description: The signature scheme (and the provider that signs with it).
          schema:
            type: string
            enum: [github, stripe]
        - name: id
          in: path
          required: true
          description: The connector slug the delivery is addressed to.
          schema:
            type: string
            pattern: "^[a-z][a-z0-9-]{0,63}$"
      requestBody:
        required: true
        description: >
          The provider's raw webhook payload. Verified as EXACT bytes (any
          re-encoding would break the signature); capped at 64 KiB.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "202":
          description: Signature verified; event enqueued for processing.
        "200":
          description: >
            Duplicate delivery (event id already seen inside the replay
            window). Acknowledged idempotently; not re-enqueued.
        "401":
          description: >
            Missing, malformed, or invalid signature; unknown connector; or a
            connector without an enabled webhook config. No detail is
            disclosed — the broker audit-logs the reason.
        "404":
          description: Unknown provider scheme or malformed connector slug.
        "405":
          description: Method other than POST on a webhook path.
        "413":
          description: Body larger than the 64 KiB cap.
        "500":
          description: Verified but could not be enqueued; the provider should retry.
components:
  securitySchemes:
    providerSignature:
      type: apiKey
      in: header
      name: X-Hub-Signature-256
      description: >
        Provider webhook signing over the exact body bytes, verified in the
        credential broker (never at this edge): github = HMAC-SHA256 in
        X-Hub-Signature-256 ("sha256=<hex>"); stripe = Stripe-Signature
        ("t=<epoch>,v1=<hex>") with the signed payload "<t>.<body>" and a
        ±300s timestamp tolerance.
